<% unless comment.created_at.nil? %>

  <div class="media comment">
    <!-- first comment -->
    <div class="media-heading">

      <span class="label label-default">15</span>
      <strong>User one:
      </strong>
      <%= time_ago_in_words(comment.created_at) %>
      ago
    </div>



      <!-- media-left -->

      <div class="media-body comment-body">
        <p style=""> <%= comment.body %></p>


        <div class="comment-meta">

          <span data-toggle="tolltip" title="Reply" class="Reply">
            <a class="reply-button" role="button" >
              <i class=" fa fa-reply"> Reply</i>
            </a>
          </span>

          <span >
            <% if comment.commentable.is_a? Post %>
            <a class="comments-button" role="button" data-toggle="tolltip" title="Hide Comments">
            <% else %>
            <a class="comments-button" role="button" data-toggle="tolltip" title="Show Comments">
            <% end %>
            <i class=" fa fa-comments"> <%= comment.comments.count %></i>
            </a>
          </span>

          <div class="collapse reply-collapse">
            <%= form_with model:[comment, Comment.new] do |f| %>


            <div class="form-group">
              <div class="field">
                <h4>
                  <i class="fa fa-paper-plane-o"></i>
                  <%= f.label :body, 'Leave a Reply'%>
                </h4>
                <%= f.text_area :body, id: :"comment_id_#{comment.id}", class: "form-control reply-field"%>
              </div>
            </div>
            <br>

            <div class="form-group">
              <div class="actions">
                <%= f.submit "Add Reply", class: "btn btn-primary" %>
              </div>
            </div>

          <% end %>

        </div>

      </div>
      <!-- comment-meta -->
      <% if comment.commentable.is_a? Post %>
        <div class="panel-collapse collapse in" id="collapse">
      <% else %>
        <div class="panel-collapse collapse" id="collapse">
      <% end %>
        <%=  render partial: 'comments/comment', collection: comment.comments.limit(10) %>

        </div>
    </div>
    <!-- comment-body -->

  <!-- comments -->
</div>
<% end %>
