<div class="row">
  <div class="col-lg-8">
    <p id="notice"><%= notice %></p>

    <h1>Posts</h1>

    <% @posts.each do |post| %>
      <div class="media">
        <div class="media-left">
          <div class="vote-wrap" style="font-size:160%">
            <div class="vote up">
              <i class="glyphicon glyphicon-menu-up"></i>
            </div>
            <div class="vote down">
              <i class="glyphicon glyphicon-menu-down"></i>
            </div>
          </div>
        </div>

        <div class="media-body">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4><strong><%= link_to post.title ,post %></strong>
                <div class="favorite">
                  <i class="glyphicon glyphicon-star" data-toggle="tooltip" title="Add to favorites"></i>
                </div> </h4>
            </div>
            <div class="panel-body" style="word-wrap: break-word;"><%= post.body.truncate(200) %></div>
            <br>
            <div class="panel-footer" style="word-wrap: break-word;">
              <p>
                <i class="fa fa-user"></i>
                by
                <a href="#">User Name</a>
                |
                <i class="fa fa-clock-o"></i>
                <%= time_ago_in_words(post.created_at) %> ago
                |
                <i class="fa fa-comment"></i>
                <a href="#"><%=post.comments_counter %> Comments</a>
                |
                <i class="fa fa-tags"></i>
                Tags :
                <a href="#">
                  <span class="label label-info">Hmtl</span></a>
                <a href="#">
                  <span class="label label-info">Css</span></a>
                <a href="#">
                  <span class="label label-info">Codus</span></a>
                |
                <i class ="fa fa-arrow-right"></i>
                <%= link_to 'Show', post, class: "btn btn-primary btn-xs" %>
              </p>

            </div>

          </div>
        </div>
      </div>

    <% end %>

  </div>

  <div class="col-lg-4">

    <%= render "shared/side_content" %>

  </div>
</div>
