<div class="row">
  <div class="col-lg-8">
    <p id="notice"><%= notice %></p>

    <h1>Posts</h1>

    <%   @query_result .each do |  query_result | %>
      <div class="media">
        <div class="media-left">
          <div class="vote-wrap" style="font-size:160%">
            <div class="vote up">
              <i class="glyphicon glyphicon-menu-up"></i>
            </div>
            <div class="vote down">
              <i class="glyphicon glyphicon-menu-down"></i>
            </div>
          </div>
        </div>

        <div class="media-body">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4><strong><%= link_to   query_result .title ,  query_result  %></strong>
                <div class="favorite">
                  <i class="glyphicon glyphicon-star" data-toggle="tooltip" title="Add to favorites"></i>
                </div> </h4>
            </div>
            <div class="panel-body" style="word-wrap: break-word;"><%=   query_result .body.truncate(200) %></div>
            <br>
            <div class="panel-footer" style="word-wrap: break-word;">
              <p>
                <i class="fa fa-user"></i>
                by
                <a href="#">User Name</a>
                |
                <i class="fa fa-clock-o"></i>
                <%= time_ago_in_words(  query_result .created_at) %> ago
                |
                <i class="fa fa-comment"></i>
              <%=  query_result .comments_counter %> Comments
                |
                <i class="fa fa-tags"></i>
                Tags :
              <%= render partial: 'posts/posts_tags', collection: query_result.tags.limit(3), :as => :tag  %>
                |
                <i class ="fa fa-arrow-right"></i>
                <%= link_to 'Show', query_result, class: "btn btn-primary btn-xs" %>
              </p>

            </div>

          </div>
        </div>
      </div>

    <% end %>

  </div>

  <div class="col-lg-4">

    <%= render "shared/side_content" %>

  </div>
</div>
